html {
  margin: 0;
  height: 100%;
}
body {
  margin: 0;
  height: 100%;
}
#root {
  display: flex;
  justify-content: center;
  font-weight: bold;
  background-color: #241734;
  margin: 0;
}
button {
  color: #FF6C11;
  font: italic 2em impact;
}
button:hover {
  background-color: grey;
}

.Calculator {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-template-rows: repeat(7, 1fr);
  width: 400px;
  height: 707px;
  border: 35px ridge #6f0b94e1;
  border-radius: 10px;
  box-shadow: 30px 30px 8px #FD1D53;
}

.Results-container {
  background-color: #261447;
  grid-row: 1 / 3;
  grid-column: 1 / 5;
  display: flex; 
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
}
.DisplayValue {
  color: #FF6C11;
  font: italic 1.5em impact;
}
.Result h2 {
  display: inline-block;
  color: red;
  font: italic 2.3em impact;
}
.Result h2:first-of-type {
  color: red;
}

.Top-container {
  grid-row: 3 / 4;
  grid-column: 1 / 4;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
}
.Top-container button {
  background: linear-gradient(yellow, purple);
  border: 5px solid #6b2ee6;
  border-bottom: 0;
  border-right: 0;
}
.Top-container button:last-of-type {
  grid-column: 2 / 4;
}

.Numbers-container {
  background-color: greenyellow;
  grid-row: 4 / 8;
  grid-column: 1 / 4;
  display: flex;
  flex-wrap: wrap;
}
.Number {
  background-color: #0d0221;
  border: 5px solid #F706CF;
  border-right: 0;
  border-bottom: 0;
  width: 100px;
}
.Numbers-container button:last-of-type {
  width: 200px;
  border-right: 1px solid black;
}

.Operations-container {
  background-color: rgb(159, 159, 240);
  grid-row: 3 / 7;
  grid-column: 4 / 5;
  display: flex;
  flex-wrap: wrap;
}
.Operations {
  background-color: #f98f0e;
  color: #920075;
  border: 5px solid #0061f1;
  border-bottom: 0;
  width: 100px;
}
.Operations button {
  color: #920075;
}

.Equals-container {
  display: flex;
  justify-content: center;
  align-items: center;
}
.Equals {
  background-color: #ec05e5;
  color: #2ED2E6;
  width: 100%;
  height: 100%;
  border: 5px solid #2ED2E6;
}

hr {
  border: 5px solid #2ED2E6;
  border-radius: 5px;
  box-shadow: inset 0 12px 12px -12px #2ED2E6;
  width: 80%;
  height: 12px;
}

